<% if user_signed_in?   %>
<%= link_to "ログアウト", destroy_user_session_path, class: :nav__logout ,method: :delete%>
<p id="notice"><%= notice %></p>
<%= link_to current_user.name + "さんの労働時間管理", "/users/#{current_user.id}",class: :greeting__link%>
<div class="nav__right"> 

<%= form_with(model: @event, local: true) do |form| %>

    <div class="time">
    <%= form.label :本日日付%>
    <%= form.datetime_select :start_time %>
  </div>

    <div class="title">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="content">
    <%= form.label :日誌内容 %>
    <%= form.text_area  :content %>
  </div>

  <div class="worktime">
    <%= form.label :労働時間 %>
    <%= form.text_field :worktime%>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

 <% end %>
 
 <%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  
    <% events.each do |event| %>
    <% if current_user.id == event.user_id%>
    <div>
      <%=link_to event.title,event_path(event.id)%>
    </div>
    <%end%>
<%end%>
<%end%>
 </div> 
<%else%>
<div class="nav__right">
<%= link_to "ログイン", new_user_session_path , class: :nav__btn %>
<%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
 </div>
<%end%>





